    * { 
        box-sizing: border-box;
        margin: 0;
        padding: 0; 
        font-family: 'Inter', sans-serif; 
    }
    body
     {
      background: radial-gradient(circle at top right, #0bbcd6, #061b24 60%);
      color: #fff;
      min-height: 100vh;
      display: flex;
    }
    .sidebar
     {
      width: 260px;
      background: #0b0f14;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 18px;
      border-radius: 0 20px 20px 0;
      height: auto;
    }
    .logo
     {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .logo img {
   width: 160px; 
   height: auto;
   display: block;
 }
  .life-highlight
 {
    color: #0bbcd6 !important;
 }

    .menu a
     {
      display: block;
      padding: 10px 14px;
      border-radius: 10px;
      color: #cbd5e1;
      text-decoration: none;
      margin-bottom: 6px;
    }
    .menu a.active,
    .menu a:hover
     {
      background: #bed62f;
      color: #000;
      font-weight: 600;
    }
    .admin
     {
      margin-top: auto;
      background: #2d3e1e;
      color :#fff;
      padding: 10px;
      border-radius: 0px;
      text-align: center;
      font-weight: 600;
    }
    .top-right {
    display: flex;
    margin-right: 100px;
    margin-top: -5%;
    align-items: center;
    gap: 18px;
    float: right;
    }
 .icon {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  }
    .main
     {
      flex: 1;
      padding: 60px;
    }
    .topbar 
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }
    .welcome 
    {
      background: linear-gradient(135deg, #0a2530, #0f3a47);
      padding: 28px;
      border-radius: 20px;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 24px;
      margin-top: 2%;
    }
    .highlight 
    { 
        color: #b7d93b;
    }
    .paths
     {
      background: rgba(0,0,0,0.45);
      border-radius: 18px;
      padding: 30px;
      margin-bottom: 26px;
    }
    .paths span
    {
      font-size: 12px;
      opacity: 0.85;
    }
    .paths h4
    { margin-bottom: 14px; 
    }
    .path-cards
     {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 16px;
    }
    .path 
    {
      background: #0bbcd6;
      padding: 16px;
      border-radius: 14px;
    }
    .progress 
    {
      height: 8px;
      background: #1f3b45;
      border-radius: 20px;
      overflow: hidden;
      margin: 10px 0;
    }
    .progress span 
    {
      display: block;
      height: 100%;
      width: 67%;
      background: #b7d93b;
    }
    .btn 
    {
      background: #f5a623;
      color: #fff;
      padding: 6px 12px;
      border-radius: 20px;
      font-size: 12px;
      font-weight: 600;
      float: right;
    }
    .btn a
    {
      text-decoration: none;
      color: #fff;
      background: none;
    }
    .courses 
    {
      background: rgba(0,0,0,0.45);
      border-radius: 18px;
      padding: 35px;
    }
    .course-grid 
    {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 18px;
    }
    .course 
    {
      background: #0e2430;
      border-radius: 14px;
      padding: 20px;
      text-align: center;
    }
    .course img 
    {
      width: 100%;
      margin-bottom: 10px;
    }
    .course span 
    {
      font-size: 13px;
      opacity: 0.85;
    }
    .leaderboard 
    {
      width: 280px;
      background: rgba(0,0,0,0.45);
      padding: 20px;
      border-radius: 20px;
      margin-left: 20px;
      margin-bottom: auto;
    }
    .layout 
    {
      display: flex;
    }
    .leaderboard h3 
    {
      margin-bottom: 10px;
    }
    .leaderboard .user 
    {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 14px;
    }
    .picture
    {
      width: 34px;
      height: 30px;
      border-radius: 50%;
      background: #bed62f;
      display: inline-flex;
      margin: 5px 5px;
    }
    .picture img
    {
      width: 50px;
      height: 50px;
      padding-bottom: 2px;
    }
    .picture span
    {
      padding: 5px;
    }
    .chat 
    {
      margin-block-end: 20px;
      background: #0bbcd6;
      color: #fff;
      padding: 10px;
      border-radius: 30px;
      text-align: center;
      font-weight: 600;
      height: 40px;
    }
    @media(max-width: 1100px) 
    {
      .layout { flex-direction: column; }
      .leaderboard { width: 100%; margin: 20px 0 0; 
      }
    }
